/*------------------------------------------------
main
------------------------------------------------*/
html{
  min-height: 100%;
}

body{
  min-height: 100%;
}

main{
  background-image: url("../image/元気なコーギー.jpg");
  background-color:rgba(255,255,255,0.9);
  background-blend-mode:lighten;
  min-height: 100%;
  padding: 50px 0;
  text-align: center;

  .container{
    max-width: 800px;
  }
}

.back{
  display: block;
  text-align: left;
}

.top{
  text-align: left;
  margin: 0 auto 50px auto;
  width: calc(100% -30px);
}

.top__title{
  background-color: #25bc7a;
  color: #fff;
  font-size: 2.2rem;
  padding: 8px;
}

.top__count{
  font-size: 1.4rem;
  padding: 8px 10px;
}

.top__content{
  background-color: #fff;
  border: solid 1px #666;
  padding: 5px 13px;
}

.top-content__name{
  color: #666;
  font-size: 1.4rem;
  line-height: 1em;
}

.top-content__time{
  color: #666;
  font-size: 1.4rem;
  line-height: 1em;
}

.top-content__detail{
  color: #666;
  font-size: 1.8rem;
  margin: 16px 0 ;
  line-height: 1.2em;
  overflow-wrap: break-word;
}

.comments__comment{
  background-color: #fff;
  border: solid 1px #666;
  margin: 0 auto 10px auto;
  text-align: left;
  width: calc(100%-20px);
}

.comments-comment__top{
  border-bottom: double 1px #666;
  font-size: 1.4rem;
  margin: 5px 13px;

}

.comments-comment-top__number{
  color: #666;
  display: inline;
  font-size: 1.2rem;
  line-height: 1em;

}

.comments-comment-top__time{
  color: #666;
  display: inline;
  font-size: 1.2rem;
  line-height: 1em;
  padding: 0 0 0 10px;
}

.comments-comment-top__name{
  color: #666;
  font-size: 1.2rem;
  line-height: 1em;
}

.comments-comment__bottom{
  padding: 10px 13px;
}

.comments-comment-bottom__txt{
  line-height: 1.2em;
  overflow-wrap: break-word;
}

.new{
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin: 100px auto 0 auto;
  max-width: 700px;
  width: calc(100% -30px);
}

.new__ttl{
  box-sizing: border-box;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 40px 0 5px;
}

.new__txt{
  display: block;
  margin: 0 auto;
  width: 85%;
}

.new__submit {
  background: #55acee;/*背景色*/
  border: none;
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 30px 0 20px;
  position: relative;
  padding: 0.25em 0.5em;
  text-decoration: none;

  &:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}